<section id="Canais">
	<div class="container">

		<div class="row">
	      <div class="col-xs-12 col-md-12 text-center lineTitle">
	        <div class="blockTitle">
	          <h2>conheça<span class='break'>nossos</span><span>Canais</span></h2>
	        </div>
	      </div>
	    </div>

		<div class="row">
			<div class="col-xs-12 col-md-12">
				<div class="content">
					<div class="headerCanais">
						<div>&nbsp;</div>
						<div class="chamada">
							<p>Seja um voluntário e faça parte do maior time de streamers do bem da internet!</p>
						</div>
					</div>
					<div class="block">&nbsp;</div>
					<div class="iframeLive">
						<img src="images/bg-iframe.jpg" alt="Iframe" class="img-fluid">
					</div>
					<div class="block">&nbsp;</div>
					<div class="otherSocial">
						<div class="socialCard scl">
							<a href="" class="linkSocial">
								<img src="images/logo-canal-1.png" alt="" class="logoCanal">
							</a>
							<img src="images/bgSocial-1.jpg" alt="" class="img-fluid socialBg">
						</div>
						<div class="socialCard scr">
							<a href="" class="linkSocial">
								<img src="images/logo-canal-2.png" alt="" class="logoCanal">
							</a>
							<img src="images/bgSocial-2.jpg" alt="" class="img-fluid socialBg">
						</div>
					</div>
					<div class="otherSocial">
						<div class="socialCard scl">
							<a href="" class="linkSocial">
								<img src="images/logo-canal-3.png" alt="" class="logoCanal">
							</a>
							<img src="images/bgSocial-3.jpg" alt="" class="img-fluid socialBg">
						</div>
						<div class="socialCard scr lastCard">
							<a href="" class="linkSocial">
								<img src="images/logo-canal-4.png" alt="" class="logoCanal">
								<h3>Seja um<span>streamer</span>voluntário</h3>
							</a>							
							<img src="images/bgSocial-null.png" alt="" class="img-fluid socialBg">
						</div>
					</div>					
					<div class="block">&nbsp;</div>
				</div>
			</div>
		</div>
	</div>
</section>