<section id="contato" class="bg-paisagem">
  <partial src="objects.html"></partial> 
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 text-center lineTitle">
        <div class="blockTitle">
          <h2>Contato</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-12">
        <div class="content">
          <p class="info">Você pode nos enviar um E-mail para propostas, tirar dúvidas, sugestões ou também pode entrar em contato conosco através do nosso Grupo no Discord, onde você pode falar com os integrantes da nossa Equipe, sobre projetos, parcerias, sugestão de instituições, etc.</p>

        <div id="formulario">
          <form role="form" id="contactForm" class="contact-form" data-toggle="validator" class="shake">
            
              <div class="row mb-3">
                <div class="col-xs-12 col-md-12">
                  <div class="controls">
                    <input type="text" id="name" class="form-control" placeholder="Nome" required data-error="Insira um nome">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
              </div>
            
              <div class="row mb-3">
                <div class="col-xs-12 col-md-12">
                  <div class="controls">
                    <input type="text" id="nickname" class="form-control" placeholder="Nickname" required data-error="Insira seu nickname">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>  
              </div>

              <div class="row mb-3">
                <div class="col-xs-12 col-md-12">
                  <div class="controls">
                    <input type="text" id="assunto" class="form-control" placeholder="Assunto" required data-error="Insira um assunto">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>  
              </div>

              <div class="row mb-3">
                <div class="col-xs-12 col-md-12">
                  <div class="controls">
                    <textarea id="message" rows="7" class="form-control" placeholder="Mensagem" required data-error="A caixa de mensagem é obrigatória"></textarea>
                    <div class="help-block with-errors"></div>
                  </div> 
                </div>
              </div>
                  
              <div class="text-right">
                <button type="submit" id="submit" class="btn btn-success bt-send">Enviar</button>
              </div>
              
              <div id="msgSubmit" class="h3 text-center hidden"></div> 
              <div class="clearfix"></div>   

              <div class="row socialContact">
                <div class="col-xs-12 col-md-6 clft">
                  <a href="" title="Discord">
                    <p>Entrar em contato com nossa equipe no Discord:</p>
                    <img src="images/icon-discord.svg" alt="Discord">
                  </a>
                </div>
                <div class="col-xs-12 col-md-6 crgh">
                  <a href="" title="Discord">
                    <p>Imprensa e Publicações, acesse nosso Linkedin:</p>
                    <img src="images/icon-linkedin.svg" alt="Linkedin">
                  </a>
                </div>
              </div>

            </form>     
          
        </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col p-0">
        <img src="images/bg-footer-transp.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>
