<section id="doacao" class="bg-paisagem">
  <partial src="objects.html"></partial> 
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 text-center lineTitle">
        <div class="blockTitle">
          <h2>Faça<span>sua doação</span></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-12">
        <div class="content">
          <p class="info">Você pode nos enviar qualquer valor através dos nossos canais de pagamento online, de forma rápida, fácil e principalmente, segura!</p>
          <div class="pagamentos">
            <div class="col1">
              <div class="meioP">
                <a href="" target="_blank" title="streamlabs">
                  <img src="images/streamlabs.png" alt="streamlabs" class="img-fluid logo-pay">
                </a>
              </div>
              <div class="meioP">
                <a href="" target="_blank" title="paypal">
                  <img src="images/paypal.png" alt="paypal" class="img-fluid logo-pay">
                </a>
              </div>
            </div>
            <div class="col2">
              <div class="meioP">
                <img src="images/picpay.png" alt="picpay" class="img-fluid logo-pay">
                <div class="infoPicpay">
                  <p>
                    <span>Pague <strong>@playforhelp</strong></span>  
                    Abra o PicPay em seu telefone e escaneie o código abaixo:
                    <a href="picpay.me/playforhelp" target="_blank">picpay.me/playforhelp</a>
                  </p>
                </div>
                <div class="infoPicpay-code">
                  <div class="qr">
                    <img src="images/qr-code.jpg" alt="qr-code" class="img-fluid img-qr">
                  </div>
                  <div class="download">
                    <p>
                      <strong>Como faço para escanear?</strong>
                      Não tem conta no PicPay?
                      <a href="" target="" title="BAIXE O APP">BAIXE O APP</a>
                      <span>GRATUITAMENTE</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col p-0">
        <img src="images/bg-footer-transp.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>
