<!-- //Footer -->
<footer>
  <div class="container">
    <div class="row text-center">
      <div class="col-12 col-md-12 flexFooter">        
        
        <figure>
          <img src="images/logo-p4h.png" alt="play 4 help" class="logoFooter">
        </figure>
        <div class="lineH"></div>
        <div class="emailFooter">
          <a href="mailto:contato@playforhelp.com.br" class="email" title="Email para contato contato@playforhelp.com.br">contato@playforhelp.com.br
          </a>
        </div>  

      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <p class="copy">PLAY 4 HELP - Todos os direitos reservados.</p>
      </div>
    </div>

  </div>
</footer>

<script src="js/lib.js"></script>
<script src="js/app.min.js"></script> 
<script type="text/javascript" src="js/form-validator.min.js"></script>  
<script type="text/javascript" src="js/contact-form-script.js"></script>

</body>
</html>