<!-- //Contato -->
<section id="contato">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-md-12">
        <h3 class="titleSection bdt">Fale com a gente</h3>
        <p class="description">Preencha o formulário e lhe retornaremos em breve</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div id="resposta"></div>
      </div>
    </div>        

    <div id="formulario">
      <form role="form" id="contactForm" class="contact-form" data-toggle="validator" class="shake">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="form-group">
                <div class="controls">
                  <input type="text" id="name" class="form-control" placeholder="Nome" required data-error="Insira um nome">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="form-group">
                <div class="controls">
                  <input type="email" class="email form-control" id="email" placeholder="Email" required data-error="Insira um email">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="form-group row">                  
                <div class="col-xs-12 col-md-6 controls">
                  <input type="text" id="empresa" class="form-control" placeholder="Empresa" required data-error="Insira o nome da empresa">
                  <div class="help-block with-errors"></div>
                </div>
              
                <div class="col-xs-12 col-md-6 controls">
                  <input type="text" id="telefone" class="form-control" placeholder="Telefone" required data-error="Insira um Telefone">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="form-group">
                <div class="controls">
                  <textarea id="message" rows="7" placeholder="Massage" class="form-control" required data-error="A caixa de mensagem é obrigatória"></textarea>
                  <div class="help-block with-errors"></div>
                </div>  
              </div>
              <div class="text-right">
                <button type="submit" id="submit" class="btn btn-success bt-send"></i> Enviar</button>
              </div>
            </div>
          </div>
          
          <div id="msgSubmit" class="h3 text-center hidden"></div> 
          <div class="clearfix"></div>   

        </form>     
      
    </div>        

  </div>
</section>