<!-- //Header -->
<header class="h-100">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	  </ol>
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img class="d-none d-md-block w-100" src="images/bg-slider01.jpg" alt="First slide">
	      <img class="d-block d-md-none w-100" src="images/bg-slider01-mob.jpg" alt="First slide">
	      <div class="carousel-caption text-center">
	      	<figure>
	      		<img src="images/logo-p4h.png" alt="" class="img-fluid logoCap">
	      	</figure>
	      </div>
	    </div>
	    <div class="carousel-item">
	      <img class="d-none d-md-block w-100 grayImg" src="images/bg-slider01.jpg" alt="Second slide">
	      <img class="d-block d-md-none w-100 grayImg" src="images/bg-slider01-mob.jpg" alt="Second slide">
	      <div class="carousel-caption text-center">
	      	<figure>
	      		<img src="images/logo-p4h.png" alt="" class="img-fluid logoCap">
	      	</figure>
	      </div>
	    </div>	    
	  </div>  
	</div>
</header>       
<section id="promoBox" class="promoBox">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12 text-center">
				<p>NOSSO LAZER AJUDA O PRÓXIMO,<span>O SEU PODE AJUDAR TAMBÉM</span></p>
			</div>
		</div>
	</div>
</section>

