<section id="midias" class="bg-paisagem">
  <partial src="objects.html"></partial> 
  <div class="container">
    
    <div class="row">
      <div class="col-xs-12 col-md-12 text-center lineTitle">
        <div class="blockTitle">
          <h2>nossas<span>Mídias</span></h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-12">
        <div class="content">

          <div class="social">
            <h4 class="title">Redes</h4>
            <ul>
              <li><a href=""><img src="images/icon-rede-1.svg" alt=""></a></li>
              <li><a href=""><img src="images/icon-youtube.svg" alt=""></a></li>
              <li><a href=""><img src="images/icon-instagram.svg" alt=""></a></li>
              <li><a href=""><img src="images/icon-rede-2.svg" alt=""></a></li>
              <li><a href=""><img src="images/icon-rede-3.svg" alt=""></a></li>
            </ul>
          </div>

          <div class="lineH"></div>
          
          <div class="social">
            <h4 class="title">Comunidades</h4>
            <ul>
              <li><a href=""><img src="images/icon-discord.svg" alt=""></a></li>
              <li><a href=""><img src="images/icon-twitter.svg" alt=""></a></li>
              <li><a href=""><img src="images/icon-facebook.svg" alt=""></a></li>
              <li><a href=""><img src="images/icon-linkedin.svg" alt=""></a></li>
              <li><a href=""><img src="images/icon-linkedin.svg" alt=""></a></li>
            </ul>
          </div>  
      
        </div>
      </div>
    </div>

  </div>    
  <div class="container-fluid">
    <div class="row">
      <div class="col p-0">
        <img src="images/bg-footer-transp.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>
