<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light nav-fixed navClient">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="images/icon-p4h.png" alt="play 4 help" class="logoHeader img-fluid">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="sobre.html">Sobre<span>Nós</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="seja-voluntario.html">Seja um<span>Voluntário</span></a>
        </li>
        <li class="nav-item">
          <a data-scroll class="scroll_section nav-link" href="index.html#canais">Canais</a>
        </li>
        <li class="nav-item">
          <a data-scroll class="scroll_section nav-link" href="index.html#instituicoes">Instituições</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="programacao-eventos.html">Programação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="doacao.html">Faça uma<span>Doação</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" target="_blank">Shopping</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contato.html">Contato</a>
        </li>
      </ul>
    </div>
  </div>  
</nav>