<figure class="float f-left">
  <img src="images/obj-left-1.png" alt="img animation" class="">
</figure>

<figure class="float f-right">
  <img src="images/obj-right-1.png" alt="img animation" class="">
</figure>
