<section id="parceirosAll">
  <div class="container">
    
    <div class="row">
      <div class="col-xs-12 col-md-12 text-center lineTitle">
        <div class="blockTitle">
          <h2>conheça<span class='break'>nossos</span><span>Parceiros</span></h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-12">
      	
      	<div class="content">
			<div class="headerParceiros">
				<div class="chamada">
					<p>Acompanhe a performance de<span>doações que está sendo angariada.</span> </p>
				</div>
				<div class="totalDoacoes">
					<p>
						<span>Já chegamos em:</span>
						<strong class="total">7k</strong>
						<hr>
						<span class="date">1.579 Doadores até a data de 00/00/2020</span>
					</p>
				</div>
			</div>
			<div class="headTab">
				<p>Confira tudo que nosso trabalho tem feito, acompanhe tudo sobre a destinação dos recursos angariados pela Play for Help, conheça as empresas doadoras, as entidades que recebem e tudo mais. Para se tornar um Parceiro, seja como Empresa ou Pessoa Física, saiba mais clicando AQUI.</p>
			</div>
		</div>
		<div class="tabClient">
			<ul class="nav nav-pills">
			  <li class="nav-item">
			    <a class="nav-link active" data-toggle="pill" href="#parc1">
					<img src="images/logo-albert.png" alt="Hospital Albert Einstein" class="img-fluid">
			    </a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="pill" href="#parc2">
					<img src="images/logo-ofcinasj.png" alt="Oficina são João" class="img-fluid">
			    </a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="pill" href="#parc3">
					<img src="images/logo-albert-voluntarios.png" alt="Albert Einstein Voluntários" class="img-fluid">
			    </a>
			  </li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
			  <div class="tab-pane container active" id="parc1">
			  	<div class="row">
				  	<div class="col-xs-12">
				  		<h3 class="title">Entrega das doações ao Hospital Esraelita Albert Einstein.</h3>
				  	</div>
			  	</div>
			  </div>
			  <div class="tab-pane container fade" id="parc2">dddd</div>
			  <div class="tab-pane container fade" id="parc3">eeeeee</div>
			</div>
		</div>


      </div>        
    </div>
  </div>    
</section>
