<section id="parceirosSingle" class="bgPlus">
  <div class="container">
    
    <div class="row">
      <div class="col-xs-12 col-md-12 text-center lineTitle">
        <div class="blockTitle">
          <h2>parceiros<span>da vez</span></h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-12">
        <div class="infoParceiro">
			
          <div class="profile">
          	<p>Estamos arrecadando doações em dinheiro para direcionar aos Voluntários do Einstein para combater a propagação do coronavírus. Os voluntários estão oferecendo condições de higiene ao distribuir kits para o pessoal em situação de risco total na região de Campo Limpo e Vila Andrade (São Paulo - Capital).</p>

			<p>Cada Kit custa R$6,00. Vamos arrecadar a maior quantidade de Kits que pudermos!</p>
          </div>

          <div class="logoParc">
          	<img src="images/parceiro-da-vez.png" alt="Parceiro da Vez" class="logoparVex">
          </div>
      
        </div>
		
		<div class="text-center">
			<a href="" class="btn btDoacao" title="Faça sua Doação">Faça sua Doação</a>
		</div>

      </div>
    </div>

  </div>    
</section>
