<section id="sobre" class="bg-paisagem">
  
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 text-center lineTitle">
        <div class="blockTitle">
          <h2>Sobre<span>Nós</span></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-12">
        <h4 class="subTitle">Nós somos um canal de conteúdo de games, eSports e entretenimento que nasceu da intenção de combinar o lazer dos idealizadores com a missão de fazer algo a mais para o próximo. Estamos dedicados em transformar nossas horas de lazer em recursos financeiros que possam ajudar projetos sociais, ongs e todos os demais parceiros que identificarmos ao longo do tempo, aumentando nosso potencial de contribuição com eles ao engajar nossa audiência a fazer o mesmo.</h4>
        <h2 class="titleSecondary">Conheça nossa Equipe</h2>
        <div class="listaColaboradores">
          
          <div class="cardCol">
            <figure>
              <img src="images/colaborador.jpg" alt="" class="img-responsive">
            </figure>
            <h3 class="name">RAFAEL STOCCO<span class="user">MOEDICKSTEIN</span></h3>
            <p class="profile">Nascido em 83, jogador casual hoje em dia. mas que se dedicou bastante ao Ultima Online no passado. Tenta algumas vitórias no FIFA e quando perde vai pra jogos de plataforma ou de mundo aberto. Péssimo.</p>
            <ul class="social">
              <li><a href=""><img src="images/icon-youtube.svg" alt=""></a></li>
              <li><a href=""><img src="images/icon-instagram.svg" alt=""></a></li>
              <li><a href=""><img src="images/icon-twitter.svg" alt=""></a></li>
              <li><a href=""><img src="images/icon-facebook.svg" alt=""></a></li>
            </ul>
          </div>

          <div class="cardCol">
            <figure>
              <img src="images/colaborador.jpg" alt="" class="img-responsive">
            </figure>
            <h3 class="name">RAFAEL LIMA<span class="user">RAFAOWS_</span></h3>
            <p class="profile">Não lembra de não ter video game em sua vida. Iniciou com Atari, Master System, Mega Drive, Super Nintendo, Playstation 1, Dreamcast, Xbox 360, Xbox One, PS4, VR e Oculus Quest! E por incrível que pareça, ansioso para ver as próximas gerações!</p>
            <ul class="social">
              <li><a href=""><img src="images/icon-youtube.svg" alt=""></a></li>
              <li><a href=""><img src="images/icon-instagram.svg" alt=""></a></li>
              <li><a href=""><img src="images/icon-twitter.svg" alt=""></a></li>
              <li><a href=""><img src="images/icon-facebook.svg" alt=""></a></li>
            </ul>
          </div>

          <div class="cardCol">
            <figure>
              <img src="images/colaborador.jpg" alt="" class="img-responsive">
            </figure>
            <h3 class="name">ANDRE GOULARD<span class="user">ANDRE1</span></h3>
            <p class="profile">ja fui de animador de festas à cantor. Já fiz de tudo um pouco. Jogo desde que me entendo por gente e faço parte do cenário de CSGO! E você?</p>
            <ul class="social">
              <li><a href=""><img src="images/icon-youtube.svg" alt=""></a></li>
              <li><a href=""><img src="images/icon-instagram.svg" alt=""></a></li>
              <li><a href=""><img src="images/icon-twitter.svg" alt=""></a></li>
              <li><a href=""><img src="images/icon-facebook.svg" alt=""></a></li>
            </ul>
          </div>

          <div class="cardCol">
            <figure>
              <img src="images/colaborador.jpg" alt="" class="img-responsive">
            </figure>
            <h3 class="name">WILLIAM GOMES<span class="user">WILLAODAMASSA</span></h3>
            <p class="profile">m dia ja fui bom no FIFA. Me aposentei, voltei aos gramados. mas ainda estou fora de forma. Sou aquele seu tio que não é bom jogando video game. A dferença é que tenho 23 anos e estou aqui fazendo streaming com vocês.</p>
            <ul class="social">
              <li><a href=""><img src="images/icon-youtube.svg" alt=""></a></li>
              <li><a href=""><img src="images/icon-instagram.svg" alt=""></a></li>
              <li><a href=""><img src="images/icon-twitter.svg" alt=""></a></li>
              <li><a href=""><img src="images/icon-facebook.svg" alt=""></a></li>
            </ul>
          </div>

          <div class="cardCol">
            <figure>
              <img src="images/colaborador.jpg" alt="" class="img-responsive">
            </figure>
            <h3 class="name">BRUNO PIMENTEL<span class="user">NICKNAME</span></h3>
            <p class="profile">Gosto de videogame desde que me conheço por gente, lembro como se fosse hoje daquele presente de Natal guardado a sete chaves pelo meu pai - um master system irado! Hoje, jogo com os meus amigos para passar o tempo. A união de uma paixão com uma causa social importante é o melhor dos mundos.</p>
            <ul class="social">
              <li><a href=""><img src="images/icon-youtube.svg" alt=""></a></li>
              <li><a href=""><img src="images/icon-instagram.svg" alt=""></a></li>
              <li><a href=""><img src="images/icon-twitter.svg" alt=""></a></li>
              <li><a href=""><img src="images/icon-facebook.svg" alt=""></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <partial src="objects.html"></partial> 
  <div class="container-fluid">
    <div class="row">
      <div class="col p-0">
        <img src="images/bg-footer-transp.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>
