<section id="voluntario" class="bg-paisagem">
  <partial src="objects.html"></partial> 
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 text-center lineTitle">
        <div class="blockTitle">
          <h2>Seja um<span>Voluntário</span></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-12">
        <div class="content">
          <p class="info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
          <p class="info">Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam </p>

        <div id="formulario">
          <form role="form" id="contactForm" class="contact-form" data-toggle="validator" class="shake">
            
              <div class="row mb-3">
                <div class="col-xs-12 col-md-12">
                  <div class="controls">
                    <input type="text" id="name" class="form-control" placeholder="Nome" required data-error="Insira um nome">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
              </div>
            
              <div class="row mb-3">
                <div class="col-xs-12 col-md-12">
                  <div class="controls">
                    <input type="text" id="nickname" class="form-control" placeholder="Nickname" required data-error="Insira seu nickname">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>  
              </div>

              <div class="row mb-3">
                <div class="col-xs-12 col-md-2">
                  <div class="controls">
                    <label for="canal">Possui canal?</label>
                  </div>
                </div>  
                <div class="col-xs-12 col-md-10">
                  <div class="controls">
                    <input type="text" id="canal" class="form-control" placeholder="URL:">                  
                  </div>
                </div>  
              </div>

              <div class="row mb-3">
                <div class="col-xs-12 col-md-6">
                  <div class="col-xs-12 mb-3 m-0 p-0">
                    <div class="form-check form-check-inline">
                      <label for="streaming">Experiência com Streaming:</label>
                    </div>
                    
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="streaming" id="sim" value="sim" checked>
                      <label class="form-check-label" for="sim">Sim</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="streaming" id="nao" value="nao">
                      <label class="form-check-label" for="nao">Não</label>
                    </div>
                  </div>

                  <div>
                    <div class="form-check form-check-inline">
                      <label for="horario">Disponibilidade de horário:</label>
                    </div>
                    
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="horario" id="dia" value="dia" checked>
                      <label class="form-check-label" for="dis">Dia</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="horario" id="noite" value="noite">
                      <label class="form-check-label" for="noite">Noite</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <p class="subLabel"><strong>Como gostaria de ajudar?</strong></p>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="ajudar" id="fazendostr" value="fazendo streaming" checked>
                    <label class="form-check-label" for="fazendostr">
                      Fazendo Streaming
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="ajudar" id="editor" value="editor">
                    <label class="form-check-label" for="editor">
                      Edição de vídeos, audios, fotos.
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="ajudar" id="redessociais" value="redes sociais">
                    <label class="form-check-label" for="redessociais">
                      Gestão de redes sociais.
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="ajudar" id="parcerias" value="parcerias">
                    <label class="form-check-label" for="parcerias">
                      Parcerias.
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="ajudar" id="outros" value="outros">
                    <label class="form-check-label" for="outros">
                      Outros.
                    </label>
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-xs-12 col-md-12">
                  <label for="message">Conte um pouco sobre você e como gostaria de nos ajudar:</label>
                  <div class="controls">
                    <textarea id="message" rows="7" class="form-control" placeholder="Comentários" required data-error="A caixa de mensagem é obrigatória"></textarea>
                    <div class="help-block with-errors"></div>
                  </div> 
                </div>
              </div>
                  
              <div class="text-right">
                <button type="submit" id="submit" class="btn btn-success bt-send">Enviar</button>
              </div>              
              
              <div id="msgSubmit" class="h3 text-center hidden"></div> 
              <div class="clearfix"></div>   

            </form>     
          
        </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col p-0">
        <img src="images/bg-footer-transp.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>
