$mq-mobile-portrait   : 320px  !default;
$mq-mobile-landscape  : 480px  !default;
$mq-tablet-portrait   : 768px  !default;
$mq-tablet-landscape  : 980px  !default;
$mq-desktop           : 1200px !default;


//MOBILE
// Both portrait and landscape
@mixin mobile-only {
  @media (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything up to and including the portrait width of the phone
// Since it's the smallest query it doesn't need a min
@mixin mobile-portrait-only {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everything up to and including the mobile portrait
@mixin mobile-portrait-and-below {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everything above and including the mobile portrait
@mixin mobile-portrait-and-up {
  @media (min-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everthing larger than a portrait mobile up until mobile landscape
@mixin mobile-landscape-only {
  @media only screen and (min-width : $mq-mobile-portrait + 1) and (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything up to and including the mobile landscape width
@mixin mobile-landscape-and-below {
  @media only screen and (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything above and including the mobile landscape width
@mixin mobile-landscape-and-up {
  @media only screen and (min-width : $mq-mobile-portrait + 1) {
    @content;
  }
}

// tablet
// ------------------------------

// Both the portrait and landscape width of the tablet
// Larger than a landscape mobile but less than or equal to a landscape tablet
@mixin tablet-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Everything larger than mobile landscape up until the portrait width of the tablet
@mixin tablet-portrait-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-portrait) {
    @content;
  }
}

// Everything below and including the portrait width of the tablet
@mixin tablet-portrait-and-below {
  @media only screen and (max-width : $mq-tablet-portrait) {
    @content;
  }
}

// Everything above and including the portrait width of the tablet
@mixin tablet-portrait-and-up {
  @media only screen and (min-width : $mq-mobile-landscape + 1) {
    @content;
  }
}

// Larger than portrait but less than or equal to the landscape width
@mixin tablet-landscape-only {
  @media only screen and (min-width : $mq-tablet-portrait + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Up to and including the tablet landscape
@mixin tablet-landscape-and-below {
  @media only screen and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Everything larger than portrait tablet
@mixin tablet-landscape-and-up {
  @media only screen and (min-width : $mq-tablet-portrait + 1) {
    @content;
  }
}

// desktop
// ------------------------------

// Everything larger than a landscape tablet
@mixin desktop-and-up {
  @media only screen and (min-width : $mq-tablet-landscape + 1) {
    @content;
  }
}

// Everything below and including the desktop 
@mixin desktop-and-below {
  @media only screen and (max-width : $mq-desktop) {
    @content;
  }
}

// Everything larger than a landscape tablet but less than or equal to the desktop
@mixin desktop-and-below {
  @media only screen and (min-width : $mq-tablet-landscape + 1) and (max-width : $mq-desktop) {
    @content;
  }
}

// retina
// ------------------------------

// Retina screens have a 1.5 pixel ratio, not 2
@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    @content;
  }
}

@include mobile-only() {
  //navClient
  .navClient {
    .logoHeader {
      width: 40px;
      height: auto !important;
    }    
    &.fixClient {
      .logoHeader {
        width: 40px;
      }    
    }
    .nav-link {
      span {
        display: inline-block;
        margin-left: 0.4rem;
      }
    }
  }
  header {  
    .logoCap {
      max-width: 90%;
    }
    .carousel-caption {
      bottom: 40px;    
    }
  }  

  .float {
    // float
    img {
      width: 60px;
    }
    &.f-left {
      left: 3px;
    }
    &.f-right {
      right: 3px;
    }
  }
  
  //canais
  #Canais {
    .blockTitle {
      margin: -45px auto 3.0rem;
      height: 140px;
    }
    .content {
      margin-top: 0;    
      .otherSocial {
        .socialCard {
          a {
            .logoCanal {
              width: 40px;
              margin-top: 27px;
            }
          }
          &.lastCard {
            a {
              .logoCanal {
                width: 40px;
                margin-top: 5px;
              }
              h3 {
                font-size: 0.6rem;
              }
            }
          }
        }
      }
    }
  }

  //BG
  .bg-paisagem {     
    &:before {;
      background-position: left 120px, right 100px;
      background-size: 180px auto, 120px auto;
      opacity: 0.6;
      z-index: 0;
    }
  }

  //programacao
  #programacao {
    .listaProg {
      max-width: 100%;
    }
  }

  //sobre
  #sobre {
    .blockTitle {
      width: 220px;
      height: 160px;
    }
    .titleSecondary {
      font-size: 1.2rem;
    }
    .subTitle {
      width: 100%;
    }
    .listaColaboradores {
      flex-direction: column;
      .cardCol {
        margin: 1.0rem auto !important; 
        figure {
          margin: 1.0rem auto;
        }
        .profile {
          min-height: auto;
        }
      }
    }
  }

  //Parceiros Single
  #parceirosSingle {    
    .infoParceiro {
      flex-direction: column;
      margin: 2.0rem 0;
      .logoParc {
        margin: 10px auto;
        img {
          max-width:  280px;
          height: auto;          
        }
      }
    }
    .btDoacao {
      padding: 1.0rem 2.0rem;
    }
  }

  //Midias
  #midias {  
    overflow: hidden;
    .float {
      top: 280px;
      &.f-left {
        top: 210px;
      }
    }
    .content {
      flex-direction: column;
      height: auto !important;
      min-height: 400px;
      margin-top: 0;
      .social {
        padding-top: 40px;
        margin-bottom: 20px;
        ul{
          li {
            a {
              img {
                width: 24px;
              }
            }
          }
        }
      }
    }
  }
  .bt-send {    
    width: 100% !important;
  }
  .form-check-inline {
    display: block;
  }
  #formulario {
    label {
      font-weight: bolder;
      &.form-check-label {
        font-weight: normal;
      }
    }    
  }
  #doacao {
    .content {      
      padding: 0.5rem !important;     
      background: rgba(#673695, 0.4) !important; 
      .pagamentos,
      .infoPicpay-code {
        flex-direction: column;
      }
      .pagamentos {
        margin-bottom: 0;
        .meioP {
          img {
            &.logo-pay {
              max-width: 200px;
              height: auto;
            }
          } 
        }
      }
    }
  }



  //voluntario / #contato
  #voluntario {    
    .content {
      padding: 0.5rem !important;     
      background: rgba(#673695, 0.4) !important; 
    }
     .float {
      top: 1080px;      
    }
  }

  #contato {    
    .content {
      padding: 0.5rem !important;     
      background: rgba(#673695, 0.4) !important; 
      .clft,
      .crgh {
        margin-bottom: 1.0rem;
        a {
          justify-content: flex-end;
          font-size: 0.8rem;
          p {
            width: 100% !important;
          }
          img {
            margin-right: 1.5rem; 
          }
        }
      }
    }
     .float {
      top: 480px;      
    }
  }

  //Footer
  footer {
    .logoFooter {
      width: 80px;
      height: auto;
      margin-bottom: 0.5rem;
    }
  }
  .flexFooter {
    flex-direction: column;
  }
  .lineH {
    display: none;
  }
}
@include mobile-portrait-only() {}

