//Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap);
$regular: 400;
$semi-b : 600;
$bold   : 700;

//Colors
$color-1: #673695;
$color-2: #bc207a;
$color-3: #fec033;
$color-4: #433838;
$color-5: #ffffff; 
$color-6: #7062a3;
$color-7: #21c25e;
$color-8: #000000;
$color-9: #ebe9e7;



//Mixins Border-radius
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}
@mixin border-radii($topleft, $topright, $bottomright, $bottomleft) {
  border-top-left-radius: $topleft;
  border-top-right-radius: $topright;
  border-bottom-right-radius: $bottomright;
  border-bottom-left-radius: $bottomleft;
  -webkit-border-top-left-radius: $topleft;
  -webkit-border-top-right-radius: $topright;
  -webkit-border-bottom-right-radius: $bottomright;
  -webkit-border-bottom-left-radius: $bottomleft;
  -moz-border-radius-topleft: $topleft;
  -moz-border-radius-topright: $topright;
  -moz-border-radius-bottomright: $bottomright;
  -moz-border-radius-bottomleft: $bottomleft;
}

//gradient
@mixin gradient() {
  background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

@mixin gradientSky() {
  background: rgb(168,140,194);
  background: -webkit-linear-gradient(bottom, rgba(168,140,194,1) 0%, rgba(103,54,149,1) 55%, rgba(103,54,149,1) 100%);
  background: -o-linear-gradient(bottom, rgba(168,140,194,1) 0%, rgba(103,54,149,1) 55%, rgba(103,54,149,1) 100%);
  background: linear-gradient(to top, rgba(168,140,194,1) 0%, rgba(103,54,149,1) 55%, rgba(103,54,149,1) 100%);
}

@mixin gradientGray() {
  background: rgb(119,116,114);
  background: -webkit-linear-gradient(bottom, rgba(119,116,114,1) 0%, rgba(83,80,81,1) 75%, rgba(83,80,81,1) 100%);
  background: -o-linear-gradient(bottom, rgba(119,116,114,1) 0%, rgba(83,80,81,1) 75%, rgba(83,80,81,1) 100%);
  background: linear-gradient(to top, rgba(119,116,114,1) 0%, rgba(83,80,81,1) 75%, rgba(83,80,81,1) 100%);
}


//shadow
@mixin box-shadow () {
  box-shadow: 0 .135rem .35rem rgba($color-4, 0.4) !important;
}
@mixin box-shadow-shape () {
  -webkit-box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.2);
  box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.2);
}

.success {
    text-align: center;
    background: rgba($color-1, 1);
    padding: 0.8rem;
    color: $color-5;
    h4 {
      font-size: 1.1rem;
      margin-bottom: 0;
    }
}

//Extends
%df {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%bt-default {
  @include border-radius (100px);
  border: 1px solid $color-1;
  color: $color-1;
  transition: 0.2s;
  &:hover {
    background: $color-1;
    color: $color-5;
    transition: 0.2s;
  }
}
%z-1 {
  position: relative;
  z-index: 1;
}

//Placeholder
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $color-4 !important;  
  font-size: 1.0rem;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $color-4 !important;  
  font-size: 1.0rem;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $color-4 !important;  
  font-size: 1.0rem;
}
:-moz-placeholder { /* Firefox 18- */
  color: $color-4 !important;  
  font-size: 1.0rem;
}

//Animation
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  background: $color-1;
}

//Section
section {
  padding: 3.0rem 0;
  .titleSection {
    font-weight: $bold;
    color: $color-1;
    font-size: 2.5rem;
  }
}

//navClient
.navClient {
  background-color: transparent !important;
  @include gradient();
  .navbar-nav {
    align-items: center;
  }
  .nav-link {
    color: $color-5 !important;
    font-weight: $regular;
    text-align: center;
    font-size: 0.8rem;
    margin: 0 0.7rem;
    transition: 0.2s;
    span {
      display: block;
    }
    &:hover {
      color: $color-3 !important;
      transition: 0.2s;
    }
  }
  .navbar-brand {
    margin-top: -10px;
    background: $color-4;
    padding: 0.8rem;

    border: 5px solid $color-1;
    border-top: 0;
  
   @include border-radii(0, 0, 12px, 12px);
   @include box-shadow-shape ();
  }
  .logoHeader {
    height: 50px;
    width: auto;    
  }
  &.fixClient {
    background-color: rgba($color-4, 0.3) !important;
    .logoHeader {}
  }
  .navbar-toggler {
    background: $color-3;
    color: rgba($color-2, 1);
    border-color: rgba($color-3, 1);
  }
}

//header
header {  
  .logoCap {
    max-width: 60%;
  }
  .carousel-caption {
    bottom: 100px;
  }
  .carousel-indicators {
    li {
      background-color: $color-2;
      height: 8px;
    }
  }
}
.grayImg {
  filter: grayscale(100%);
}

.float {
  position: absolute;        
  z-index: 0;
  transform: translatey(0px);
  animation: float 4s ease-in-out infinite;
  img {
    width: 220px;
  }
  &.f-left {    
    left: 10px;
  }
  &.f-right {    
    right: 10px;
  }
}

strong {
 color: $color-1;
}

//Flex
.content-flex {
  display: flex;
}


//contato
#contato {
  padding-bottom: 0 !important;  
  .content {
    padding: 1.5rem 3.5rem 2.5rem;
    border: 3px solid $color-3;
    @include border-radius (10px);
    .info {
      color: $color-5;
      font-size: 0.9rem;
      max-width: 680px;
      margin: 2.0rem auto 3.0rem;
    }
    .socialContact {
      .clft,
      .crgh {
        a {
          display: flex;
          align-items: center;                    
          color: $color-5;
          p {            
            max-width: 180px;
            margin-right: 1.0rem;
            text-align: right;
            margin-bottom: 0;
          }
          &:hover {
            color: $color-3;
            text-decoration: none;
            transition: 0.3s;            
          }
        }
      }
      .crgh {
        a {
          p {
            width: 150px;
          }
        }
      }
      .clft {
        a {
          justify-content: flex-end;
          img {
            margin-right: 1.5rem; 
          }          
        }
      }
    }
  }  
}

.bt-send {    
  @extend %bt-default;
  background: $color-3 !important;
  border: 0 !important;
  color: $color-1 !important;
  padding: 0.5rem 4.0rem;
  @include border-radius (0);
  margin-bottom: 1.5rem;
  opacity: 1 !important;
  &:hover {
    color: $color-3 !important;
    background: $color-1 !important;
  }
}

textarea {
  &.form-control {
    height: 145px;
  }
}

//Titulos
.lineTitle {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -48px;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
    z-index: 2;
    background: url('../images/shadow-titles.png') top center no-repeat;
    background-size: auto 70px;
  }
}
.blockTitle {  
  width: 200px;
  height: 120px;

  margin: -48px auto 20px;
  
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: $color-4;  
  border: 3px solid $color-6;
  border-top: 0;

  @include border-radii(0, 0, 12px, 12px);
  z-index: 1;  
  h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
    color: $color-5;
    font-size: 1.5rem;
    span {
      &.break {
        color: $color-5;
        font-size: 1.5rem;
      }
      display: block;
      color: $color-3;
      font-size: 2.0rem;
    }
  }
}

.titleSecondary {
  color: $color-5;
  text-align: center;
  text-transform: uppercase;
}

//canais
#Canais {
  .blockTitle {  
    width: 300px;
    height: 160px;  
    margin-right: auto;
    margin-left: 15%;
    z-index: 2;
    position: relative;
  }
  .content {
    z-index: 0;
    margin-top: -120px;
    padding: 2.0rem 0.3rem;
    overflow: hidden;
    border: 3px solid $color-3;
    @include border-radius (10px);
    background: $color-8;
    color: $color-5;
    .headerCanais {
      display: flex;
      justify-content: space-around;
      div {
        &.chamada {
          max-width: 320px;
          p {            
            text-align: center;
            margin: 1.0rem auto 2.0rem auto;
          }
        }
      }
    }
    .block {
      background: $color-4;
      width: 100%;
      height: 20px;
      display: block;
      margin: 1.0rem 0;
    }
    .iframeLive {
      img {
        width: 100% !important;
        height: auto;
      }
      iframe {}
    }
    .otherSocial {
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-content: center;
      .socialCard {
         flex-grow: 2;
         display: flex;         
         justify-content: center;
         padding: 0.3rem;
         position: relative;
         &.scl {
          padding-left: 0;
         }
         &.scr {
          padding-right: 0;
         }         
        a {
          position: absolute;          
          width: 100%;
          height: 100%;
          text-align: center;
          transition: 0.3s;
          .logoCanal {
            width: 80px;
            height: auto;
            margin-top: 23%;
          }
          &:hover {
            background: rgba($color-1, 0.6);
            transition: 0.3s;
          }
        }
        .socialBg {
          width: 100%;
          height: auto;
        }
        &.lastCard {
          a {
            color: $color-5;
            transition: 0.3s;
            .logoCanal {
              width: 80px;
              height: auto;
              margin-top: 13%;
            }
            h3 {
              text-align: center;
              text-transform: uppercase;
              span {
                display: block;
                color: $color-3;
              }
            } 
            &:hover {
              transition: 0.3s;
              text-decoration: none; 
              color: $color-3;                    
            } 
          }        
        }
      }
    }
  }
}

//Parceiros Single
#parceirosSingle {
  background: $color-3 url('../images/bgPlus.png') left bottom repeat-x;  
  position: relative;
  .infoParceiro {
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
    align-items: center;
    margin: 4.0rem 0;
  }
  .btDoacao {
    @include gradientSky();
    color: $color-5;
    text-transform: uppercase;
    padding: 1.0rem 8.0rem;
    font-size: 1.3rem; 
    transition: 0.3s;
    &:hover {
      @include box-shadow();
      transition: 0.3s;
    }   
  }
}
//Parceiros All
#parceirosAll {
  position: relative;
  &:before {
    content: '';
    width: 100%;
    height: 158px;
    position: absolute;
    top: 424px;
    left: 0;
    background: $color-5;
    z-index: -1;
  }
  .blockTitle {  
    width: 300px;
    height: 160px;  
    margin-right: auto;
    margin-left: 15%;
    z-index: 2;
    position: relative;
  }
  .content {
    z-index: 0;
    margin-top: -150px;
    padding: 2.0rem 0.3rem 0;
    overflow: hidden;
    .headerParceiros {
      display: flex;
      justify-content: space-around;
      align-items: center;      
      .chamada {
        color: $color-5;
        flex-grow: 2;
        p {
          text-align: center;
          padding-top: 4.5rem;
          padding-right: 7.0rem;
          span {
            display: block;
          }
        }
      }
      .totalDoacoes {
        text-align: center;
        color: $color-1;
        background: $color-3;
        padding: 1.5rem 7.0rem 1.0rem;
        @include border-radii(12px, 12px, 0, 0);
        strong{
          font-size: 4.0rem;
          line-height: 4.0rem;
        }
        span {
          display: block;
          &.date {
            max-width: 140px;
          }
        }
      }      
    }
    .headTab {
        color: $color-5;
        background: $color-3;
        padding: 2.5rem 5.0rem 1.0rem;
        @include border-radii(12px, 0, 0, 0);
        margin-top: -30px;
    }
  }
  .tabClient {
    background: $color-5;
    padding: 0.5rem;
    margin: 0 0.3rem;    
    .nav {
      z-index: 3;
      .nav-item {
        width: 33%;
        .nav-link {
          text-align: center;          
          padding-bottom: 0.5rem;
          @include border-radii(12px, 12px, 0, 0);
          border-bottom: 1px solid $color-4;
          img {
            margin: 0.5rem auto 0;
            width: 50%;
            height: auto;
          }
          &.active {
            background: transparent;
            padding-bottom: 0;
            border: 1px solid $color-4;
            border-bottom: none;            
            img {
              padding-bottom: 0.5rem;  
            }
          }
        }
      }
    }
  }
}

//voluntario
#voluntario {
  padding-bottom: 0 !important;
  .blockTitle { 
    height: 160px;
    width: 300px;
  }
  .content {
    padding: 1.5rem 3.5rem;
    border: 3px solid $color-3;
    @include border-radius (10px);
    .info {
      color: $color-5;
      font-size: 0.9rem;
    }
  }
 .float {
    top: 530px;    
  }
}

//doacao
#doacao {
  padding-bottom: 0 !important;
  .blockTitle { 
    height: 160px;
    width: 300px;
  }
  .content {
    padding: 1.5rem 3.5rem;
    border: 3px solid $color-3;
    @include border-radius (10px);
    .info {
      color: $color-5;
      font-size: 0.9rem;
      max-width: 500px;
      margin: 2.0rem auto 3.0rem;
    }
    .pagamentos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 800px;
      margin: 2.5rem auto;
      color: $color-5;
      span {
        display: block;
      }
      a,
      strong {
        color: $color-7;
      }
      .col2 {
        max-width: 400px;
      }
      .meioP {
        margin-bottom: 3.5rem;        
        text-align: center;
        img {
          &.logo-pay {
            max-width: 280px;
            height: auto;
          }
        }                
        .infoPicpay-code {
          display: flex;
          align-items: center;
          margin-top: 1.0rem;
          .download,
          .qr {
            padding: 0.4rem;
          }
          .qr {
            img {
              max-width: 140px;
            }
          }
          strong {
            display: block;
            padding-top: 0.6rem;
          }
          a {
            display: table;
            color: $color-5;
            background: $color-7;
            padding: 0.3rem 1.0rem;
            margin: 0.5rem auto 1.0rem;
            @include border-radius(100px);
          }
        }
      }
    }
  }
}

//sobre
#sobre {
  .float {
    top: 480px;
  }
  padding-bottom: 0;
  .blockTitle {
    width: 300px;
    height: 160px;
  }
  .subTitle {
    width: 82%;
    margin: 30px auto;
    text-align: left;
    font-size: 0.9rem;
    color: $color-5;
  }
  .listaColaboradores {
    display: flex;
    justify-content: space-between;
    .cardCol {
      margin: 1.0rem 1.5rem 0;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      figure {
        max-width: 200px;
        max-height: 200px;
        overflow: hidden;
        border: 4px solid $color-2;
        @include border-radius(10px);        
        img {
          max-width: 200px;
          max-height: 200px;
        }
      }
      .name {
        text-align: center;
        color: $color-5;
        padding: 0;
        font-size: 1.2rem;
        span {
          display: block;
          color: $color-3;
        }
      }
      .profile {
        min-height: 220px;
        text-align: left;
        color: $color-5;
        font-size: 0.8rem;
        background: rgba($color-1, 0.4);
        padding: 0.2rem;
        @include border-radius(2px);        
      }
      .social {
        list-style: none;
        padding: 0;
        margin: 0.5rem 0;
        text-align: center;
        li {
          display: inline-block;
          margin: 0 0.4rem;
          img {
            width: 24px;
            height: auto;
          }
        }
      }
    }
  }
}

//programacao
#programacao {
  padding-bottom: 0;
  .blockTitle {
    width: 300px;
    height: 160px;
  }
  .subTitle {
    max-width: 360px;
    margin: 30px auto;
    text-align: center;
    font-size: 0.9rem;
    color: $color-5;
  }
  .listaProg {
    margin: 0 auto;
    max-width: 83%;
    height: 460px;
    border: 3px solid $color-3;
    @include border-radius (5px);
    iframe {
      border: 0 !important;
      width: 100%;
      height: 453px;
    }
  }
}


//Midias
#midias {     
  position: relative;
  padding-bottom: 0;
  .content {
    display: flex;    
    align-items: top;
    justify-content: center;
    margin-top: 50px;
    .social {      
      text-align: center;
      padding-top: 70px;
      .title {
        color: $color-3;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        z-index: 10!important;
        li {
          display: inline-block;
          margin: 1.0rem 0.8rem; 
          a {
            img {
              width: 42px;
              height: auto;              
            }
            &:hover {
              img {
                fill: $color-3 !important;
                color: $color-3 !important;
              }
            }
          }
        }
      }
    } 
    .lineH {
      margin: 0 50px;
      width: 1px;
      height: 300px;
      background: $color-5;
    }   
  }
}

//BG
.bg-paisagem { 
  @include gradientSky;  
  &:before {
    position: absolute;
    width: 100%;
    height: 380px;
    top: 250px;
    content: '';
    background: url('../images/cloud-left.png'),url('../images/cloud-right.png');  
    background-repeat: no-repeat; 
    background-position: left 120px, right 100px;
    background-size: 380px auto, 320px auto;
    opacity: 0.6;
    z-index: 0;
  }
}

//promoBox
.promoBox {
 @include gradientGray();
 &:before {
    content: '';
    top: 0;
    width: 100%;
    height: 90px;
    position: absolute;
    background: url('../images/bg-subdescription.png') center center no-repeat; 
    background-size:  auto 100%; 
  }
}

#promoBox {
  padding: 0;
  position: relative;

  p {
    margin: 20px auto;
    color: $color-5;
    span {
      display: block;
    }
  }
}
#formulario {
  label {
    color: $color-5;
  }
}
.subLabel {
  strong {
    font-weight: bolder;
    color: $color-5;
  }
}


//Footer
footer {      
  background: $color-2;
  padding: 2.5rem 0 0 0;
  .flexFooter {
    display: flex;
    justify-content: center;
    align-items: center !important;

    height: 50px;
    margin-bottom: 50px;
  }
  figure {
    margin-bottom: 0;
    .logoFooter {
      width: 190px;
    }
  }  
  .lineH {
    margin: 0 50px;
    width: 1px;
    height: 50px;
    background: $color-4;
  } 
  a {
    color: $color-4;
    transition: 0.2s;   
    &:hover {
      text-decoration: none;
      color: $color-3;
      transition: 0.2s;   
    } 
  }
  
  .copy {
    color: $color-4;
    text-align: center;
    font-size: 0.7rem;
  }
}

//Media Queries
@import 'client_style_queries.scss';